#f1{
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
}

#pilotos{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}

#scuderia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
}

#gp{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkgreen;
}

.logo{
    display: flex;
    justify-content: center;
}

body{
    background-color: aqua;
}
.ps{
    color: black;
}
